name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Setup Nix and Rust Environment
        uses: ./.github/actions/setup-nix-rust

      - name: Run cargo fmt
        run: nix develop --command cargo fmt --all -- --check

      - name: Run cargo clippy
        run: nix develop --command cargo clippy --workspace --all-features -- -D warnings

      - name: Run cargo test
        run: nix develop --command cargo test --workspace --verbose
